#modalbox {
	position: absolute;
	display: block;
	top: 20%;
	left: 34%;
	min-height: 250px;
	min-width: 250px;
	border-radius: 25px;
  background: #17a2b8;
  padding: 20px;
  width: 200px;
  height: 150px;
}