<ul>
	{% for movie in genres%}
		<li>
			{{movie.title}}
			<button type="button" class="btn btn-danger" onclick="deleteMovie('{{movie.movie_id}}')">delete</button>


			{% if movie.locations | length <= 0 %}
				<p>no locations playing this movie</p>
			{% endif %}

			<ul>
				{% for location in movie.locations %}
					<li>
						<a 
							href="{{location.href}}"
							target="_blank" 
							rel="noreferrer noopener"
						>
							{{location.name}}
						</a>
					</li>
				{% endfor %}
			</ul>

		</li>		
	{% endfor %}		
</ul>
<li>
	<button type="button" class="btn btn-info" id="addmoviebutton">ADD A MOVIE HERE</button>
</li>