<!DOCTYPE html>
<html>
<head>
	<!--loads stylesheet onto webpage-->
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<!--jquery cdn to allow working with jquery-->
	<script
  		src="https://code.jquery.com/jquery-3.4.1.min.js"
  		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  		crossorigin="anonymous"></script>
	<title></title>
</head>
<body>
	<h2 class="panel-heading">What's your movie mood?</h2>
	<!--selector element for choosing genre-->
	<select id="genreSelector">
		<option value="">Select genre please</option>
		{% for genre in genres %}
			<option value="{{genre.genre_id}}">
				{{genre.name}}
			</option>
		{% endfor %}	
	</select>
	<!--placeholder div for movie information-->
	<div id="genrecontent"></div>
	
	<div id="modalbox" style="display: none;">
		<form>
			<label>Missing Movies</label>
			<input type="text" name="Movie">
			<label>Genre</label>
			<input type="text" name="Genre">
			<input type="submit">
		</form>
		<div id="modalbox-msg">
			<!-- error msg -->
		</div>	
	</div>	
</body>
<script type="text/javascript">
	function deleteMovie(movieId) {
		$.post(
			"/delete-movie",
			{ movieId: movieId },
			console.log
		)
	}
	const contentelement = document.getElementById("genrecontent")
	const modalelement = document.getElementById("modalbox")
	const modalmsgelement = document.getElementById("modalbox-msg")
	const modalboxSubmit = document.getElementById("modalbox-submit")
	let ismodalopen = false

	function assignAddmovieOnclick() {
		//get the modal
		//get button that opens the modal	
		var buttn = document.getElementById("addmoviebutton")
		//when the user clicks the button, open the modal
		buttn.onclick = function() {
			modalelement.style.display = "block";
			setTimeout(
				function() {
					ismodalopen = true
				},
				0
			)
		}
	}
	// add newmovie
	function submitMovie(event) {
		event.preventDefault();
		const { Movie, Genre } = event.target.elements
		$.post(
			"/new-movie", 
			{ movie: Movie.value, genre: Genre.value },
			function(msg) {
				if (msg === "unknown genre") {
					modalmsgelement.innerHTML = "INVALID GENRE"
				} else {
					window.location = event.target.action
				}
			}
		)
	}

	//function gets genre, concatinates that with the users selection and gets movies list by genre
  	function getGenre(event) {
  		$.get(
  			"/genre/" + event.target.value,
  			function(moviesBygenreTemplate) {
  				contentelement.innerHTML = moviesBygenreTemplate
  				assignAddmovieOnclick()
  			}
  		)
  	}
  	
  	//constant variable assigned to the function gets the selection from genreSelector
  	const selectElement = document.getElementById("genreSelector")
 
  	document.onclick = function closeModal(e) {
  		if (ismodalopen && !modalelement.contains(e.target)) {
  			modalelement.style.display = "none";
  			setTimeout(
				function() {
					ismodalopen = false
				},
				0
			)
  		}
  	}
  	selectElement.onchange = getGenre
  	modalelement.onsubmit = submitMovie
 </script>
</html>